@page "/"

<PageTitle>EventEase</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to the EventEase simulator! This is just an attempt at using Blazor forms and caching.<br /><br />Please don't actually
    use this...</p>